.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
